/*
Charte graphique 

bleu : #006bb4
jaune:
*/

*{
	margin:0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}


/* HEADER */

nav{
	background-color:#006bb4;
}
nav ul {
	
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	padding:20px 0;
}

nav ul li {
	margin-right: 30px;
}

nav ul li a{
	color:white;
	font-family: "Montserrat", sans-serif;
}

nav ul li a:hover {
	text-decoration:underline;
}


/***********************   INDEX                                  */

/* Banniere */


#banniere {
	height: 200px;
	margin-bottom:20px;
	background-image: url(../img/books.jpg);
	/*border-top:1px solid black;*/
	border-bottom:1px solid black;
}

h2 {
	margin:40px 0 30px 33px;
	font-family: "Montserrat", sans-serif;
	font-weight:bold;
}

/* LIVRES */

section.livres {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;


}

div.livre {
	height: 400px;
	width: 240px;
	border:1px solid grey;
}

div.livre a.imgLivre{
	border-bottom:1px solid grey;
}

div.livre div.detailLivre{
	margin:15px 0 0px 30px;
}

div.livre button{
	margin:15px 0 0 20px;
	background-color:#006bb4;
	border:none;
	padding:8px;
}

div.livre button a{
	color :white;
}

/*div.livre button:hover{
	background-color:yellow;
	border:1px solid #006bb4;
	color :#006bb4;
}

div.livre button a:hover{
	color :#006bb4;
}*/


div.livre div.detailLivre p.titreLivre{
	font-weight:bold;
	margin-bottom:28px;
}

div.livre div.detailLivre p.titreLivre2{
	font-weight:bold;
	margin-bottom:10px;
}

/***********************   PANIER                                 */

h2.titre{
margin:0;
text-align:center;
margin-bottom:30px;
}

.panier2{
	margin:auto;
	display:flex;
	width:1280px;
	font-family:"DM Sans","Arial",sans-serif;
}

/* TABLE */
.panier2 table{
	border-collapse:collapse;
}

.panier2 table thead th{
	font-size:1em;
	font-weight:normal;
}

.panier2 table th:first-child{
	padding:0 0px 10px 0;
}

.panier2 table th{
	padding:0 150px 10px 0;
	border-bottom: 1px solid grey;
}

.panier2 table th:nth-child(4){
	padding:0 0px 10px 0;
}

.panier2 table td{
	border-bottom: 1px solid grey;
}

.panier2 table td p:first-child{
	font-weight:bold;
	padding-bottom:5px;
}

.available{
	color:green;
}

/* USER FORM */

.panier2 div.left div.userInformation{
	margin-top:20px;
}

/***********************   SUCCESS                                 */

.success{
	text-align:center;
}
