/*
Charte graphique 

bleu : #006bb4
jaune:
*/

*{
	margin:0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}


/* HEADER */

nav{
	background-color:#006bb4;
}
nav ul {
	
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	padding:20px 0;
}

nav ul li {
	margin-right: 30px;
}

nav ul li a{
	color:white;
	font-family: "Montserrat", sans-serif;
}

nav ul li a:hover {
	text-decoration:underline;
}


/***********************   INDEX                                  */

/* Banniere */


#banniere {
	height: 200px;
	margin-bottom:20px;
	background-image: url(../img/books.jpg);
	/*border-top:1px solid black;*/
	border-bottom:1px solid black;
}

h2 {
	margin:40px 0 30px 33px;
	font-family: "Montserrat", sans-serif;
	font-weight:bold;
}

/* LIVRES */

section.livres {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;


}

div.livre {
	height: 400px;
	width: 240px;
	border:1px solid grey;
}

div.livre a.imgLivre{
	border-bottom:1px solid grey;
}

div.livre div.detailLivre{
	margin:15px 0 0px 30px;
}

div.livre button{
	margin:15px 0 0 20px;
	background-color:#006bb4;
	color:white;
	border:none;
	padding:8px;
}

div.livre button:hover{
	background-color:yellow;
	color:#006bb4;
	border:1px solid #006bb4;
}


div.livre div.detailLivre p.titreLivre{
	font-weight:bold;
	margin-bottom:28px;
}

div.livre div.detailLivre p.titreLivre2{
	font-weight:bold;
	margin-bottom:10px;
}

/***********************   PANIER                                 */

h2.titre{
margin:0;
text-align:center;
}

.panier2{
	margin-top:20px;
}

.panier2 table{
	margin:auto;
	border-collapse:collapse;
	text-align:center;
}

.panier2 table thead th{
	font-size:1.3em;
}

.panier2 table th,td{
	padding: 5px 30px 10px;
	border-bottom: 1px solid grey;
}
.available{
	color:green;
}

form{
	margin-top:10px;
	text-align:center
}

form .left{
	float:left;
}

/***********************   SUCCESS                                 */

.success{
	text-align:center;
	
}
