/*

bleu : #006bb4

*/

*{
	margin:0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}


/* HEADER */

nav{
	background-color:#006bb4;
}
nav ul {
	
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	padding:20px 0;
}

nav ul li {
	margin-right: 30px;
}

nav ul li a{
	color:white;
	font-family: "Montserrat", sans-serif;
}

nav ul li a:hover {
	text-decoration:underline;
}


/***********************   INDEX                                  */

/* Banniere */


#banniere {
	height: 200px;
	margin-bottom:20px;
	background-image: url(../img/books.jpg);
	/*border-top:1px solid black;*/
	border-bottom:1px solid black;
}

h2 {
	margin:40px 0 30px 33px;
	font-family: "Montserrat", sans-serif;
	font-weight:bold;
}

/* LIVRES */

section.livres {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;


}

div.livre {
	height: 420px;
	width: 240px;
	border:2px solid silver;
}


div.livre:nth-child(2), div.livre:nth-child(3){
	height: 420px;
}

div.livre a.imgLivre{
	border-bottom:1px solid grey;
}

div.livre div.detailLivre{
	margin:15px 10px 0px 30px;
	font-family:"DM Sans","Arial",sans-serif;
	
}

div.livre button{
	margin:15px 0 0 20px;
	border:1px solid;
	background-color:#006bb4;
	border:2px solid;
	padding:8px;
	color :white;
}

div.livre button.button1{
	margin-top:36px;
}

div.livre button a{
	color :white;
}

/*div.livre button:hover{
	background-color:yellow;
	border:1px solid #006bb4;
	color :#006bb4;
}*/

div.livre button:hover{
	border-color:#006bb4;
	transition:.5s;
}


div.livre div.detailLivre p.titreLivre{
	font-weight:bold;
	margin-bottom:10px;
}

div.livre div.detailLivre p.titreLivre2{
	font-weight:bold;
	margin-bottom:10px;
}

/***********************   PANIER                                 */

h2.titre{
margin:0;
text-align:center;
margin-bottom:30px;
}

.panier2{
	
	margin:0 0 40px 40px;
	/*width:1240px;*/
	font-family:"DM Sans","Arial",sans-serif;
}

/* TABLE */
.panier2 table{
	border-collapse:collapse;
}

.panier2 table thead th{
	font-size:1em;
	font-weight:normal;
}

.panier2 table th:first-child{
	padding:0 0px 10px 0;
}

.panier2 table th{
	padding:0 150px 10px 0;
	border-bottom: 1px solid grey;
}

.panier2 table th:nth-child(4){
	padding:0 0px 10px 0;
}

.panier2 table td{
	border-bottom: 1px solid silver;
}

.panier2 table td p:first-child{
	font-weight:bold;
	padding-bottom:5px;
}

.available{
	color:green;
}

/* USER FORM */

.panier2 div.left div.userInformation{
	margin-top:20px;
	padding: 0 40px;
}

.panier2 h3{
	text-align:center;
	padding:10px 0 20px 0;
	border-bottom: 1px solid silver; 
}

.panier2 form{
	display:flex;
	box-sizing:border-box;
}

.panier2 form .txtField{
	border-bottom:2px solid #adadad;
	margin: 30px 0;
	position:relative;
}

.panier2 form .txtField input{
	width:100%;
	padding:0 5px;
	height:40px;
	font-size:16px;
	border:none;
	background:none;
	outline:none;
}

.panier2 form .txtField label{
	position:absolute;
	top:24%;
	left:5px;
	color:#adadad;
	/*transform:translateY(-50%);*/
	font-size:16px;
	pointer-events:none;
	transition:.5s;
}

.panier2 form .txtField span::before{
	content:'';
	position:absolute;
	top:40px;
	left:0;
	width:0%;
	height:2px;
	background-color:#006bb4;
	transition:.5s;
}

.panier2 form .txtField input:focus ~ label,
.panier2 form .txtField input:valid ~ label
{
	color:#006bb4;
	top:-14px;
}

.panier2 form .txtField input:focus ~ span::before,
.panier2 form .txtField input:valid ~ span::before
{
	width:100%
	
}

.panier2 form input[type="submit"]{
	border:1px solid;
	background-color:#006bb4;
	border:1px solid;
	padding:10px;
	color :white;
	cursor:pointer;
	width:100%;
	font-size:18px;
	font-weight:600;
	outline:none;
}

.panier2 form input[type="submit"]:hover{
	border-color:#006bb4;
	transition:.5s;
}

.panier2 div.right{
	margin-top:166px;
	margin-left:100px;
	border:solid 2px silver;
	height:300px;
	padding:19px 30px;
}

/*
.panier2 div.left div.userInformation p{	
	display:table-row;
}

.panier2 div.left div.userInformation label{	
	display:table-cell;
}

.panier2 div.left div.userInformation input{	
	display:table-cell;
	margin-left:10px;
}
*/

/***********************   SUCCESS                                 */

.success{
	text-align:center;
	font-size:18px;
}

.success p{
		font-family:"DM Sans","Arial",sans-serif;
		margin-top:10px
}

